a:after{background: #f8f8f8;border: 1px solid #e6e6e6;border-radius: 2px;color: #000000;line-height: 150%;margin-left: 0.5em;margin-right: 3px;padding: 2px 4px;vertical-align: middle;}

a[href$="/user/The_Penis_Wizard"]:after
{ content: "Testing Mass Tagger" !important; }
