

/* ! Header
-------------------------------------------------------------------------------- */
.light #header {
  background: 
url(https://i.imgur.com/UBxAxl5.png) center no-repeat, 
-webkit-repeating-linear-gradient(-45deg, rgba(255, 255, 255, .1) 60px, rgba(255, 255, 255, .9) 70px, transparent 1px, transparent 90px), 
-webkit-repeating-linear-gradient(45deg, rgba(255, 255, 255, .1) 60px, rgba(255, 255, 255, .9) 70px, transparent 1px, transparent 90px), 
-webkit-repeating-linear-gradient(-45deg, rgba(255, 255, 255, .1) 60px, rgba(255, 255, 255, .9) 70px, transparent 1px, transparent 180px), 
-webkit-repeating-linear-gradient(45deg, rgba(255, 255, 255, .1) 60px, rgba(255, 255, 255, .9) 70px, transparent 1px, transparent 180px), 
-webkit-repeating-linear-gradient(45deg, rgba(24, 24, 24, .5), rgba(24, 24, 24, .5) 1px, transparent 1px, transparent 180px), 
-webkit-repeating-linear-gradient(-45deg, rgba(24, 24, 24, .5) , rgba(24, 24, 24, .5) 1px, transparent 1px, transparent 180px), 
-webkit-repeating-linear-gradient(45deg, rgba(24, 24, 24, .2) , rgba(24, 24, 24, .2) 1px, transparent 1px, transparent 90px), 
-webkit-repeating-linear-gradient(-45deg, rgba(24, 24, 24, .2) , rgba(24, 24, 24, .2) 1px, transparent 1px, transparent 90px);

  background: 
url(https://i.imgur.com/UBxAxl5.png) center no-repeat, 
-moz-repeating-linear-gradient(-45deg, rgba(255, 255, 255, .1) 60px, rgba(255, 255, 255, .9) 70px, transparent 1px, transparent 90px), 
-moz-repeating-linear-gradient(45deg, rgba(255, 255, 255, .1) 60px, rgba(255, 255, 255, .9) 70px, transparent 1px, transparent 90px), 
-moz-repeating-linear-gradient(-45deg, rgba(255, 255, 255, .1) 60px, rgba(255, 255, 255, .9) 70px, transparent 1px, transparent 180px), 
-moz-repeating-linear-gradient(45deg, rgba(255, 255, 255, .1) 60px, rgba(255, 255, 255, .9) 70px, transparent 1px, transparent 180px), 
-moz-repeating-linear-gradient(45deg, rgba(24, 24, 24, .5), rgba(24, 24, 24, .5) 1px, transparent 1px, transparent 180px), 
-moz-repeating-linear-gradient(-45deg, rgba(24, 24, 24, .5) , rgba(24, 24, 24, .5) 1px, transparent 1px, transparent 180px), 
-moz-repeating-linear-gradient(45deg, rgba(24, 24, 24, .2) , rgba(24, 24, 24, .2) 1px, transparent 1px, transparent 90px), 
-moz-repeating-linear-gradient(-45deg, rgba(24, 24, 24, .2) , rgba(224, 24, 24, .2) 1px, transparent 1px, transparent 90px);

  background: 
url(https://i.imgur.com/rFnHzrq.png) center no-repeat, 
-o-repeating-linear-gradient(-45deg, rgba(255, 255, 255, .1) 60px, rgba(255, 255, 255, .9) 70px, transparent 1px, transparent 90px), 
-o-repeating-linear-gradient(45deg, rgba(255, 255, 255, .1) 60px, rgba(255, 255, 255, .9) 70px, transparent 1px, transparent 90px), 
-o-repeating-linear-gradient(-45deg, rgba(255, 255, 255, .1) 60px, rgba(255, 255, 255, .9) 70px, transparent 1px, transparent 180px), 
-o-repeating-linear-gradient(45deg, rgba(255, 255, 255, .1) 60px, rgba(255, 255, 255, .9) 70px, transparent 1px, transparent 180px), 
-o-repeating-linear-gradient(45deg, rgba(24, 24, 24, .5), rgba(24, 24, 24, .5) 1px, transparent 1px, transparent 180px), 
-o-repeating-linear-gradient(-45deg, rgba(24, 24, 24, .5) , rgba(24, 24, 24, .5) 1px, transparent 1px, transparent 180px), 
-o-repeating-linear-gradient(45deg, rgba(24, 24, 24, .2) , rgba(24, 24, 24, .2) 1px, transparent 1px, transparent 90px), 
-o-repeating-linear-gradient(-45deg, rgba(24, 24, 24, .2) , rgba(24, 24, 24, .2) 1px, transparent 1px, transparent 90px);

  background: 
url(https://i.imgur.com/UBxAxl5.png) center no-repeat, 
repeating-linear-gradient(-45deg, rgba(255, 255, 255, .1) 60px, rgba(255, 255, 255, .9) 70px, transparent 1px, transparent 90px), 
repeating-linear-gradient(45deg, rgba(255, 255, 255, .1) 60px, rgba(255, 255, 255, .9) 70px, transparent 1px, transparent 90px), 
repeating-linear-gradient(-45deg, rgba(255, 255, 255, .1) 60px, rgba(255, 255, 255, .9) 70px, transparent 1px, transparent 180px), 
repeating-linear-gradient(45deg, rgba(255, 255, 255, .1) 60px, rgba(255, 255, 255, .9) 70px, transparent 1px, transparent 180px), 
repeating-linear-gradient(45deg, rgba(24, 24, 24, .5), rgba(24, 24, 24, .5) 1px, transparent 1px, transparent 180px), 
repeating-linear-gradient(-45deg, rgba(24, 24, 24, .5) , rgba(24, 24, 24, .5) 1px, transparent 1px, transparent 180px), 
repeating-linear-gradient(45deg, rgba(24, 24, 24, .2) , rgba(24, 24, 24, .2) 1px, transparent 1px, transparent 90px), 
repeating-linear-gradient(-45deg, rgba(24, 24, 24, .2) , rgba(24, 24, 24, .2) 1px, transparent 1px, transparent 90px);

  background-color: #FFFFFF;
  background-size: 1820px 100%, 256px 256px, 256px 256px, 256px 256px, 256px 256px, 256px 256px, 256px 256px, 256px 256px, 256px 256px;
    height: 225px;
    width: 100%
    margin: 0;
}

.light #header:after {
  content: " ";
  font-size: -webkit-xxx-large;
  color: white;
  border-top: azure;
  font-weight: 400;
  font-style: italic;
  font-family: 'Goudy Old Style', Garamond, 'Big Caslon', 'Times New Roman', serif;
  width: 100%;
  position: absolute;
  height: 60px;
  text-align: center;
  top: 80px;
}

@media ( max-width: 550px ) {
.light #header {
    background-size: 300%;
    height: 250px;
}
}
.light    #header-container,
    #sr-header-area {
        background: transparent;
        border: 0;
    }
.light        #sr-header-area .selected a { color: #317FB7; }

 .light       #sr-header-area .sr-list { margin-right: 59px; }
     .light         .sr-list li a { color: #D0D0D0; }

      .light        #sr-bar li a { color: #999; }
    .light          #sr-header-area:hover #sr-bar li a { color: #D0D0D0; }

     .light     #header-img {
            background: url( https://i.imgur.com/2mQRemE.png );
            padding-left: 112px;
        }

   .light       #sr-more-link:hover {
            color: #FFF;
            background: #317FB7;
        }

            /* ! Header | Sub menu
            -------------------------------------------------------------------------------- */
.light            .whoaSubscriptionMenu li ul {
                border: 1px solid;
                border-color: #333 #222 #222;
                box-shadow: 3px 3px 3px hsla( 0,0%,0%,0.2 );
            }
   .light             .whoaSubscriptionMenu li ul li a:link,
   .light             .whoaSubscriptionMenu li ul li a:visited {
                    background: #333;
                    border-bottom: 1px solid #222;
                    color: #FFF;
                }
    .light            .whoaSubscriptionMenu li ul li a:hover {
                    background: #47B1FC;
                    background: -webkit-linear-gradient( top,#47B1FC,#3797DC );
                    background:    -moz-linear-gradient( top,#47B1FC,#3797DC );
                    background:     -ms-linear-gradient( top,#47B1FC,#3797DC );
                    background:      -o-linear-gradient( top,#47B1FC,#3797DC );
                    color: #FFF !important;
                }

            /* Menu drop arrow icon */
   .light         .drop-arrow { border-color: #D0D0D0 transparent transparent; }

.light        #sr-more-link {
            background: none;
            color: #CCC;
        }

        /* ! Header | Sub name
        -------------------------------------------------------------------------------- */
.light        .pagename {
            font-size: 24px;
            letter-spacing: -1px;
            text-transform: uppercase;
            margin-bottom: 9px;
        }
 .light           .pagename a {
                color: #000000;
                border-style: solid none;
                border-width: 2px;
                border-color: transparent;
                padding: 0;
                margin: 0 12px;
            }
  .light          .pagename a:hover {
                color: #000000;
                border-style: solid none;
                border-width: 2px;
                border-color: #000000;
                text-decoration: none;
            }


/* Sticky */

.light .promoted {
    float:right;
    background-color: #e3e0e0;
    padding:5px; border: 1px solid #fff;
    color:#000000; font-size:14px; font-weight:bold;
}
.light .stickied .title .may-blank:before {
    content: "Important: ";
    color: #ff2222;
    border: 0px;
    background-color:transparent;
    width:auto;
    margin:0px;
}
.light .stickied {
border:1px solid #000;
border-radius: 5px;
}
.light .moderator{
color:#3FBF4C !important;
}

/*-------------
FLAIRS

.flair-NSFW,
.flair-NSFL,
.flair-Quality,


-------------*/

.light .flair, .submission a.title::before {
    display:    inline-block;
    text-align: center;
    background: #DDD;
    border:     2px solid #BBB;
    border-radius: 10px;
    color:      #666;
}

    .light .flair-Quality{
        background:   #71EA84;
        border-color: #4CC65F;
        color:        #2C7437;
    }

    .light .flair-NSFW{
        background:   #e31837;
        border-color: #d82540;
        color:        #FEEBEB;
    }

    .light .flair-NSFL{
        background:   #db3838;
        border-color: #db0303;
        color:        #FEEBEB;
    }


.light .flair:empty {
    /* fix for unflaired discussion pages */
    display: none; }




        /* ! Header | Tab menu
        -------------------------------------------------------------------------------- */
  .light      .tabmenu { font-size: 16px; }
    .light        .tabmenu li { text-transform: uppercase; }
     .light           .tabmenu li a {
                    margin: 0 3px;
                    padding: 6px 0;
                }

         .light       .tabmenu li.disabled a {
                    color: #000000;background: transparent;
                }
            .light    .tabmenu li.disabled{background: none;}
            .light    .tabmenu li.disabled a,
             .light   .tabmenu li.selected a { border: 0; border-radius: 0; }
              .light  .tabmenu li.disabled a:hover {
                    color: #000000;
                    background: none;
                    border: 0;
                    border-style: solid none;
                    border-width: 2px;
                    border-color: #000000;
                    box-shadow: none;
                }
        .light        .tabmenu li.disabled a.contribute {
                    background: none;
                    border: 0;
                    color: #B122F6;
                    font-weight: normal;
                }
        .light        .tabmenu li.disabled a.contribute:hover {
                    background: none;
                    color: #B122F6;
                    border-style: solid none;
                    border-width: 2px;
                    border-color: #B122F6;
                }

            .light    .tabmenu li.selected a {
                    background: none;
                    border: 0;
                    box-shadow: none;
                    color: #000000;
                    font-weight: bold;
                }
         .light       .tabmenu li.selected a:hover {
                    color: #000000;
                    border-style: solid none;
                    border-width: 2px;
                    border-color: #000000;
                }
         .light       .tabmenu li.selected a.contribute {
                    background: none;
                    border: 0;
                    color: #B122F6;
                    font-weight: bold;
                }
           .light     .tabmenu li.selected a.contribute:hover {
                    background: none;
                    color: #B122F6;
                    border-style: solid none;
                    border-width: 2px;
                    border-color: #B122F6;
                }

/* EDIT MODERATOR BOX */
.light .side .helplink + .title h1 { display: none; }
.light .side .helplink + .title::before { 
    content: 'THE FOURTH REICH';
    display: block;
    font-size: 130%;
    font-weight: bold;
    color:      #967aff;
    text-transform: uppercase;
}


        /* ! Header | Account
        -------------------------------------------------------------------------------- */
 .light       .logged-in {
            color: #D0D0D0;
            background: none;
            border: 0;
            border-radius: 0;
        }
.light        .logged-out {
            color: #D0D0D0;
            background: none;
            border: 0;
            border-radius: 0;
        }
 .light           #header-account a,
   .light         #header-account .logged-out a { color: #D0D0D0; }
   .light         #header-account a:hover { color: #317FB7; }

     .light       #header-account .separator {
                margin: 0;
                visibility: hidden;
            }

/* ! Container
-------------------------------------------------------------------------------- */
.light #container {
    background: none;
    border: 0;
    border-radius: 0;
    padding: 0;
}

/* Submit Buttons */

.light .md h2, .side .btn-whoaverse, btn-default, .side .md > ul, .side .md > ul li:first-child {
    background: #333333;
    text-align: center;
    color: white;
    padding: 5px;
    border-radius: 5px;
    border:0px;
}
.light .side a.btn-whoaverse { color: #fff;
    font-size:1em; 
    border: 2px solid #333;}
.light .side .btn-whoaverse:hover {
    background: #666666;
    border: 2px solid #000;
}
.light .leavemoderator{background-color:transparent;}

/* Announcement Bar. */

.light	.side .titlebox .usertext h6:nth-of-type(1) {
		font-style: normal;
		font-size: 13px;
		position: absolute;
		top: 180px;
		background-color: #333333;
		padding: 10px;
		width: 262px;
		border-radius: 3px;
		border: 2px solid #000;
		color: white;
		font-style: normal;
	}
.light	.side .titlebox .usertext h6:nth-of-type(1) a {
		color: ##4399cd;
	}
	@media (max-width: 870px) {
.light		.side.show-mobile-sidebar {
			left: -1px;
			padding-top: 280px;
		}
	}
	@media (min-width: 871px) {
.light		#container {
			padding-top: 71px;
		}
.light		.side .titlebox .usertext h6:nth-of-type(1) {
			top: 10px;
			left: 20px;
			width: calc(100% - 40px);
			border-radius: 3px;
			padding: 8px 20px;
		}
	}


        /* ! Sidebar dropdowns
        -------------------------------------------------------------------------------- */

.light .side .md > ul {
    margin: 0px;
    list-style: none;
    width: 100%;
}
.light .side .md > ul li {
    display: none;
    padding: 4px;
}
.light .side .md > ul li ~ li {
    border-top: 1px solid;
}
.light .side .md > ul li:hover {
    #background: #f7f7f7;
}
.light .side .md > ul li:first-child {
    display: block;
    font-weight: bold;
    font-size: 16px;
}
.light .side .md > ul:hover li {
    display: block;
}

        /* ! Downvote message
        -------------------------------------------------------------------------------- */
 .light       .arrow-downvote:after{
           display:block;
           visibility:hidden;
           position:absolute;
           z-index:1000;
           margin-top:-6px;
           margin-left:32px;
           padding:12px;
           background-color:rgba(79,77,192,0.0);
           border:none;
           border-radius:2px;
           color:rgba(255,255,255,0);
           content:"Keep clicking piggy.";
           text-align:center;
           letter-spacing:1px;
           font-weight:400;
           font-size:13px;
           transition:all .25s ease;
           pointer-events:none
        }

 .light       .arrow-downvote:hover:after{
           visibility:visible;
           background-color:rgba(24,24,24,0.9);
           color:#FFF;
           margin-left:48px
        }

   .light     .titlebox {
            margin: 10px -20px 0;
            padding: 0px 20px;
            width: auto !important;
        }
         .light   .titlebox > h1 {
                border-bottom: 1px solid #999;
                font-size: 22px;
                font-weight: normal;
                letter-spacing: -1px;
                margin: 0 0 20px;
                padding: 0 0 10px;
                text-align: center;
                text-transform: uppercase;
            }
  .light              .titlebox h1 a:hover { color: inherit; }

        .light    .titlebox .btn-whoaverse-paging, .titlebox .btn-unsub  {
                background: #333;
                border: 2px solid #333;
                border-radius: 5px;
                display: block;
                color: #EEE;
                font-size: 1em;
                float:left;
                font-weight: bold;
                letter-spacing: 2px;
                margin-bottom: 5px;
                padding: 6px 0;
                text-transform: uppercase;
                width: 46%;
                margin:0px 2% 10px;
            }
        .light    .titlebox .btn-sub{background: #363;border: 2px solid #363;}
         .light   .titlebox .btn-whoaverse-paging:hover, .titlebox .btn-unsub:hover {
                background: #666;
                border: 2px solid #000;
                color: #EEE;
            }
 .light           .titlebox .btn-sub:hover{background: #393;border: 2px solid #030;}

       .light     .titlebox .subscribers, .titlebox .users-online {
                display: block;
                margin-bottom: 10px;
                text-align: center;
            }

       .light     .titlebox .md { padding-bottom: 20px; }
.light                .titlebox .md a { color: #47B1FC; }
      .light          .titlebox .md a:hover { color: #B122F6; }

            .light    .titlebox .md h1,
            .light    .titlebox .md h2,
             .light   .titlebox .md h3,
             .light   .titlebox .md h4,
            .light    .titlebox .md h5,
             .light   .titlebox .md h6 {
                    border: 0;
                    font-weight: bold;
                    text-align: center;
                }
           .light     .titlebox .md h1 { font-size: 18px; }
          .light      .titlebox .md h2 { font-size: 16px; }
           .light     .titlebox .md h3 { font-size: 15px; }
          .light      .titlebox .md h4,
           .light     .titlebox .md h5,
           .light     .titlebox .md h6 { font-size: 14px; }

         .light   .titlebox .bottom {
                color: inherit;
                border-top: 1px solid #999;
                padding: 10px 0 0;
            }
         .light       .titlebox .bottom a { color: #47B1FC; }
          .light      .titlebox .bottom a:hover { color: #FF8821; }
}




/* ! Mobile
-------------------------------------------------------------------------------- */
@media ( max-width: 870px ) {
    .content { margin-right: 0; }
    .side { width: 300px; }
   
}

@media ( max-width: 700px ) {
    .tabmenu li.disabled a {
        background: none;
        box-shadow: none;
    }
}
