/* Sidebar image, 280x280 px plz */

.md h4{
    background: url(https://i.imgur.com/rwESgN3.png);
    height: 210px;
    width: 100%;
    border-radius: 10px;
    display: block;
}
.md h4 a{
    line-height: 210px;
    width: 100%;
    border-radius: 10px;  
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
     display:inline-block;
}
.titlebox h1 a { #display:none;
}
.whoaversename img {float:right;display:none;}
/* "This gives the background with the font for the text of the flair. */

a:after{background: #f8f8f8;border: 1px solid #e6e6e6;border-radius: 2px;color: #000000;line-height: 150%;margin-right: 3px;padding: 2px 4px;vertical-align: middle;}

/* Special Flairs */

a[href$="/user/Swoledamort"]:after
{ content: "Too Many Dicks in Ass"; }

a[href$="/user/the_penis_apprentice"]:after
{ content: "Sucks too much dick"; }

a[href$="/user/DatViet"]:after
{ content: "Honorary Aryan"; }

a[href$="/user/Miaiam"]:after
{ content: "Likes Homer's D"; }

a[href$="/user/LardHammer"]:after
{ content: "Destroyer of Ham Planets"; }

a[href$="/user/Duress56"]:after
{ content: "Convicted Child Molester"; }

/* "Verified Shitlord" flair FOLLOW THE WAY FLAIRS ARE SETUP */

a[href$="/user/shitlordcaligula"]:after,
a[href$="/user/NotMrS"]:after,
a[href$="/user/PM_ME_UR_SOURCE_CODE"]:after,
a[href$="/user/E_Neutrality"]:after,
a[href$="/user/shatomirputin"]:after,
a[href$="/user/FPHForever"]:after,
a[href$="/user/notarealperson"]:after,
a[href$="/user/veetack"]:after,
a[href$="/user/Calorie-Kin"]:after,
a[href$="/user/KingdomN"]:after,
a[href$="/user/ImLying"]:after,
a[href$="/user/Ellvarah"]:after,
a[href$="/user/julbe43"]:after,
a[href$="/user/fuoco"]:after,
a[href$="/user/TotalCult"]:after,
a[href$="/user/tom-bombadil"]:after,
a[href$="/user/IamtheDreadLobster"]:after,
a[href$="/user/thisuserhatesyou"]:after,
a[href$="/user/Phillyshitlord"]:after,
a[href$="/user/nomi_malone"]:after,
a[href$="/user/Pathogenesis25"]:after,
a[href$="/user/Shitty_McShitlord"]:after,
a[href$="/user/BigBoss"]:after,
a[href$="/user/FrozenKlondyke"]:after,
a[href$="/user/Sythek"]:after,
a[href$="/user/vordster"]:after,
a[href$="/user/DoctorKoctor"]:after,
a[href$="/user/RobertPaulson"]:after,
a[href$="/user/wbfla"]:after,
a[href$="/user/Joebro88"]:after,
a[href$="/user/AndrossAngel"]:after,
a[href$="/user/swizzlesticks"]:after,
a[href$="/user/dcs2000"]:after,
a[href$="/user/silvester"]:after,
a[href$="/user/dontqueefonmebro"]:after,
a[href$="/user/door_"]:after,
a[href$="/user/TheEnzo"]:after,
a[href$="/user/wolflink009"]:after,
a[href$="/user/Invisible_Nomad"]:after,
a[href$="/user/Melbourne43"]:after,
a[href$="/user/Adler"]:after,
a[href$="/user/fatness"]:after,
a[href$="/user/cleftscout"]:after,
a[href$="/user/Maisy"]:after,
a[href$="/user/Eysenor"]:after,
a[href$="/user/GreyFox"]:after,
a[href$="/user/floris"]:after,
a[href$="/user/Morgasm"]:after,
a[href$="/user/GrimRipple"]:after,
a[href$="/user/Ruston"]:after,
a[href$="/user/xxlthrowaway"]:after,
a[href$="/user/sketchyadvice77"]:after,
a[href$="/user/Chodder"]:after,
a[href$="/user/diefatfucks"]:after,
a[href$="/user/CutTheCurby"]:after,
a[href$="/user/MyFatHateFlows"]:after,
a[href$="/user/uLookFatInThoseGenes"]:after,
a[href$="/user/Oveneise"]:after,
a[href$="/user/Elysium"]:after,
a[href$="/user/Fatty_McGoo"]:after,
a[href$="/user/zeonin"]:after,
a[href$="/user/HoodedHoodlum"]:after,
a[href$="/user/CheckYourFupa"]:after,
a[href$="/user/Kahlo"]:after,
a[href$="/user/tuxedo"]:after,
a[href$="/user/CyanRyan"]:after,
a[href$="/user/greenymaco"]:after,
a[href$="/user/CttCJim"]:after,
a[href$="/user/Landao"]:after,
a[href$="/user/fryabetes"]:after,
a[href$="/user/crimsonpowder"]:after,
a[href$="/user/tisi"]:after,
a[href$="/user/Era"]:after,
a[href$="/user/4kneecator"]:after,
a[href$="/user/shitlordstrugglez"]:after,
a[href$="/user/bkmnalpha"]:after,
a[href$="/user/larionov"]:after,
a[href$="/user/LoveThighGap"]:after,
a[href$="/user/hotmusician"]:after,
a[href$="/user/ILoveFPH"]:after,
a[href$="/user/Lenvaldier"]:after,
a[href$="/user/herr_scheisse"]:after,
a[href$="/user/FatPeopleHateMe"]:after,
a[href$="/user/Reddifugee"]:after,
a[href$="/user/orange-avocado"]:after,
a[href$="/user/Grimace_Reaper"]:after,
a[href$="/user/todbert"]:after,
a[href$="/user/ppbox"]:after,
a[href$="/user/thorgin"]:after,
a[href$="/user/Wolfthorn"]:after,
a[href$="/user/AlanWake"]:after,
a[href$="/user/QuillQuote"]:after,
a[href$="/user/Fallkniven"]:after,
a[href$="/user/CrackerBInebriated"]:after,
a[href$="/user/underthemotherboard"]:after,
a[href$="/user/redditHasCooties "]:after,
a[href$="/user/MC_BarelyLegible"]:after,
a[href$="/user/Lord_Shitlord"]:after,
a[href$="/user/bieberhole_69"]:after,
a[href$="/user/SetsAndReps"]:after,
a[href$="/user/ConnieDeShuns"]:after,
a[href$="/user/FatPeopleHateAccount"]:after,
a[href$="/user/Daimao"]:after,
a[href$="/user/LJM"]:after,
a[href$="/user/ThinkingClear"]:after,
a[href$="/user/jrlascody"]:after,
a[href$="/user/iloveNoseRings"]:after,
a[href$="/user/firekarat"]:after,
a[href$="/user/PureFix"]:after,
a[href$="/user/diggeler"]:after,
a[href$="/user/yourhero7"]:after,
a[href$="/user/CttCJim"]:after,
a[href$="/user/technician90"]:after,
a[href$="/user/cassis"]:after,
a[href$="/user/Shimmy"]:after,
a[href$="/user/joelmooner"]:after,
a[href$="/user/talones"]:after,
a[href$="/user/LazarusLong"]:after,
a[href$="/user/ogcook"]:after,
a[href$="/user/Allchiefedup24"]:after,
a[href$="/user/SouthPark"]:after,
a[href$="/user/BWBHAMMER"]:after,
a[href$="/user/archers_bows9"]:after,
a[href$="/user/Infiltrator"]:after,
a[href$="/user/Stinkybeetusfoot"]:after,
a[href$="/user/Anonymous_Coward"]:after,
a[href$="/user/danunit"]:after,
a[href$="/user/imnotyourfriendpal"]:after,
a[href$="/user/Tuna_n_Rice"]:after,
a[href$="/user/rshackleford252525"]:after,
a[href$="/user/CrackingYs"]:after,
a[href$="/user/the_foreigner"]:after,
a[href$="/user/raznog"]:after,
a[href$="/user/i_am_the_ginger"]:after
{ content: "Verified Shitlord"; }

/* "Verified Shitlady" flair */

a[href$="/user/TattooedWife"]:after,
a[href$="/user/GenevieveJenkins"]:after,
a[href$="/user/eat_a_dick_por_favor"]:after,
a[href$="/user/ActualHourglass"]:after,
a[href$="/user/Thinchick"]:after,
a[href$="/user/fatis4punching"]:after,
a[href$="/user/strings"]:after,
a[href$="/user/bethygal83"]:after,
a[href$="/user/aretemis"]:after,
a[href$="/user/redherpbluederp"]:after,
a[href$="/user/Trickster"]:after,
a[href$="/user/32DDbitches"]:after,
a[href$="/user/Entitilitus"]:after,
a[href$="/user/MasterBettyPain"]:after,
a[href$="/user/dotty"]:after,
a[href$="/user/Skinny_McJiggles"]:after,
a[href$="/user/naked_ditchdigger"]:after,
a[href$="/user/SacoDeHuesos"]:after,
a[href$="/user/HonorYourBeetus"]:after,
a[href$="/user/Antimony"]:after,
a[href$="/user/shitladybird"]:after,
a[href$="/user/commandershitlorde"]:after,
a[href$="/user/SassyShitlady"]:after,
a[href$="/user/fearsnight"]:after,
a[href$="/user/redjenny"]:after,
a[href$="/user/Thippe"]:after,
a[href$="/user/Catcat"]:after,
a[href$="/user/longlostbleu"]:after,
a[href$="/user/wolfgirlnaya"]:after,
a[href$="/user/TheSashimiTamale"]:after,
a[href$="/user/VegetarianZombie1"]:after,
a[href$="/user/absmom20"]:after,
a[href$="/user/IAHA"]:after,
a[href$="/user/OgreSounds"]:after,
a[href$="/user/Gidg"]:after,
a[href$="/user/DatVitaminD"]:after,
a[href$="/user/dotty"]:after,
a[href$="/user/nothinggoddammit"]:after,
a[href$="/user/horse__tornado"]:after,
a[href$="/user/SeeYouNextTuesday"]:after,
a[href$="/user/theepilepticferret"]:after,
a[href$="/user/iscrapedmyknee"]:after,
a[href$="/user/ShiteLorde"]:after,
a[href$="/user/masyday"]:after,
a[href$="/user/LeanMeanShitQueen"]:after,
a[href$="/user/FatJavalina"]:after
{ content: "Verified Shitlady"; }



/* Mod Flairs */

a[href$="/user/notarealperson"]:after {color: #666;content: "notaflair"; }
   
a[href$="/user/The_Penis_Wizard"]:after { background: #DF0101;content: "Literally Hitler"; }
  
a[href$="/user/HamathaMcBeetusButt"]:after { background: #F003F2;content: "Poetically Hitler"; }

a[href$="/user/Space_ninja"]:after { background: #5533EC;content: "Offensively Hitler"; }

a[href$="/user/Space_Ninja"]:after { background: #5533EC;content: "Offensively Hitler"; }

a[href$="/user/homersimpson"]:after { background: #2ad42a;content: "Metaphorically Hitler"; }
 
a[href$="/user/HomerSimpson"]:after { background: #2ad42a;content: "Metaphorically Hitler"; }
 
a[href$="/user/shmuklidooha"]:after { background: #00c5ff;content: "Figuratively Hitler"; }
 
a[href$="/user/SportyStrawberry"]:after { background: #e31860;content: "Actively Hitler"; }

a[href$="/user/sportystrawberry"]:after { background: #e31860;content: "Actively Hitler"; }

a[href$="/user/12_Years_A_Toucan"]:after { background: #e1d812; content: "Hitler's Toucan"; }

a[href$="/user/Archangelle_Achtung"]:after { background: #ff6633; content: "buchstäblich Hitler"; }
 
a[href$="/user/leelem0n"]:after { background: #ebf094; content: "Lifting Hitler"; }

/* This makes it so flairs don't show up at the top of the page.  */


 a[title="Profile"]:after,a.upvoatsGiven:after{content:none;}



/* ! Header
-------------------------------------------------------------------------------- */
#header {
  background: 
url(https://i.imgur.com/EXqWwgp.png) center no-repeat, 
-webkit-repeating-linear-gradient(-45deg, rgba(24, 24, 24, .1) 60px, rgba(24, 24, 24, .9) 70px, transparent 1px, transparent 90px), 
-webkit-repeating-linear-gradient(45deg, rgba(24, 24, 24, .1) 60px, rgba(24, 24, 24, .9) 70px, transparent 1px, transparent 90px), 
-webkit-repeating-linear-gradient(-45deg, rgba(24, 24, 24, .1) 60px, rgba(24, 24, 24, .9) 70px, transparent 1px, transparent 180px), 
-webkit-repeating-linear-gradient(45deg, rgba(24, 24, 24, .1) 60px, rgba(24, 24, 24, .9) 70px, transparent 1px, transparent 180px), 
-webkit-repeating-linear-gradient(45deg, rgba(255, 255, 255, .5), rgba(255, 255, 255, .5) 1px, transparent 1px, transparent 180px), 
-webkit-repeating-linear-gradient(-45deg, rgba(255, 255, 255, .5) , rgba(255, 255, 255, .5) 1px, transparent 1px, transparent 180px), 
-webkit-repeating-linear-gradient(45deg, rgba(255, 255, 255, .2) , rgba(255, 255, 255, .2) 1px, transparent 1px, transparent 90px), 
-webkit-repeating-linear-gradient(-45deg, rgba(255, 255, 255, .2) , rgba(255, 255, 255, .2) 1px, transparent 1px, transparent 90px);

  background: 
url(https://i.imgur.com/EXqWwgp.png) center no-repeat, 
-moz-repeating-linear-gradient(-45deg, rgba(24, 24, 24, .1) 60px, rgba(24, 24, 24, .9) 70px, transparent 1px, transparent 90px), 
-moz-repeating-linear-gradient(45deg, rgba(24, 24, 24, .1) 60px, rgba(24, 24, 24, .9) 70px, transparent 1px, transparent 90px), 
-moz-repeating-linear-gradient(-45deg, rgba(24, 24, 24, .1) 60px, rgba(24, 24, 24, .9) 70px, transparent 1px, transparent 180px), 
-moz-repeating-linear-gradient(45deg, rgba(24, 24, 24, .1) 60px, rgba(24, 24, 24, .9) 70px, transparent 1px, transparent 180px), 
-moz-repeating-linear-gradient(45deg, rgba(255, 255, 255, .5), rgba(255, 255, 255, .5) 1px, transparent 1px, transparent 180px), 
-moz-repeating-linear-gradient(-45deg, rgba(255, 255, 255, .5) , rgba(255, 255, 255, .5) 1px, transparent 1px, transparent 180px), 
-moz-repeating-linear-gradient(45deg, rgba(255, 255, 255, .2) , rgba(255, 255, 255, .2) 1px, transparent 1px, transparent 90px), 
-moz-repeating-linear-gradient(-45deg, rgba(255, 255, 255, .2) , rgba(255, 255, 255, .2) 1px, transparent 1px, transparent 90px);

  background: 
url(https://i.imgur.com/WUR3Z8h.png) center no-repeat, 
-o-repeating-linear-gradient(-45deg, rgba(24, 24, 24, .1) 60px, rgba(24, 24, 24, .9) 70px, transparent 1px, transparent 90px), 
-o-repeating-linear-gradient(45deg, rgba(24, 24, 24, .1) 60px, rgba(24, 24, 24, .9) 70px, transparent 1px, transparent 90px), 
-o-repeating-linear-gradient(-45deg, rgba(24, 24, 24, .1) 60px, rgba(24, 24, 24, .9) 70px, transparent 1px, transparent 180px), 
-o-repeating-linear-gradient(45deg, rgba(24, 24, 24, .1) 60px, rgba(24, 24, 24, .9) 70px, transparent 1px, transparent 180px), 
-o-repeating-linear-gradient(45deg, rgba(255, 255, 255, .5), rgba(255, 255, 255, .5) 1px, transparent 1px, transparent 180px), 
-o-repeating-linear-gradient(-45deg, rgba(255, 255, 255, .5) , rgba(255, 255, 255, .5) 1px, transparent 1px, transparent 180px), 
-o-repeating-linear-gradient(45deg, rgba(255, 255, 255, .2) , rgba(255, 255, 255, .2) 1px, transparent 1px, transparent 90px), 
-o-repeating-linear-gradient(-45deg, rgba(255, 255, 255, .2) , rgba(255, 255, 255, .2) 1px, transparent 1px, transparent 90px);

  background: 
url(https://i.imgur.com/EXqWwgp.png) center no-repeat, 
repeating-linear-gradient(-45deg, rgba(24, 24, 24, .1) 60px, rgba(24, 24, 24, .9) 70px, transparent 1px, transparent 90px), 
repeating-linear-gradient(45deg, rgba(24, 24, 24, .1) 60px, rgba(24, 24, 24, .9) 70px, transparent 1px, transparent 90px), 
repeating-linear-gradient(-45deg, rgba(24, 24, 24, .1) 60px, rgba(24, 24, 24, .9) 70px, transparent 1px, transparent 180px), 
repeating-linear-gradient(45deg, rgba(24, 24, 24, .1) 60px, rgba(24, 24, 24, .9) 70px, transparent 1px, transparent 180px), 
repeating-linear-gradient(45deg, rgba(255, 255, 255, .5), rgba(255, 255, 255, .5) 1px, transparent 1px, transparent 180px), 
repeating-linear-gradient(-45deg, rgba(255, 255, 255, .5) , rgba(255, 255, 255, .5) 1px, transparent 1px, transparent 180px), 
repeating-linear-gradient(45deg, rgba(255, 255, 255, .2) , rgba(255, 255, 255, .2) 1px, transparent 1px, transparent 90px), 
repeating-linear-gradient(-45deg, rgba(255, 255, 255, .2) , rgba(255, 255, 255, .2) 1px, transparent 1px, transparent 90px);

  background-color: #181818;
  background-size: 1820px 100%, 256px 256px, 256px 256px, 256px 256px, 256px 256px, 256px 256px, 256px 256px, 256px 256px, 256px 256px;
    height: 225px;
    width: 100%
    margin: 0;
}

#header:after {
  content: " ";
  font-size: -webkit-xxx-large;
  color: white;
  border-top: azure;
  font-weight: 400;
  font-style: italic;
  font-family: 'Goudy Old Style', Garamond, 'Big Caslon', 'Times New Roman', serif;
  width: 100%;
  position: absolute;
  height: 60px;
  text-align: center;
  top: 80px;
}

@media ( max-width: 550px ) {
#header {
    background-size: 300%;
    height: 250px;
}
}
    #header-container,
    #sr-header-area {
        background: transparent;
        border: 0;
    }
        #sr-header-area .selected a { color: #317FB7; }

        #sr-header-area .sr-list { margin-right: 59px; }
            .sr-list li a { color: #D0D0D0; }

            #sr-bar li a { color: #999; }
            #sr-header-area:hover #sr-bar li a { color: #D0D0D0; }

        #header-img {
            background: url( https://i.imgur.com/Yc8q9AO.png );
            padding-left: 112px;
        }

        #sr-more-link:hover {
            color: #FFF;
            background: #317FB7;
        }

            /* ! Header | Sub menu
            -------------------------------------------------------------------------------- */
            .whoaSubscriptionMenu li ul {
                border: 1px solid;
                border-color: #333 #222 #222;
                box-shadow: 3px 3px 3px hsla( 0,0%,0%,0.2 );
            }
                .whoaSubscriptionMenu li ul li a:link,
                .whoaSubscriptionMenu li ul li a:visited {
                    background: #333;
                    border-bottom: 1px solid #222;
                    color: #FFF;
                }
                .whoaSubscriptionMenu li ul li a:hover {
                    background: #47B1FC;
                    background: -webkit-linear-gradient( top,#47B1FC,#3797DC );
                    background:    -moz-linear-gradient( top,#47B1FC,#3797DC );
                    background:     -ms-linear-gradient( top,#47B1FC,#3797DC );
                    background:      -o-linear-gradient( top,#47B1FC,#3797DC );
                    color: #FFF !important;
                }

            /* Menu drop arrow icon */
            .drop-arrow { border-color: #D0D0D0 transparent transparent; }

        #sr-more-link {
            background: none;
            color: #CCC;
        }

        /* ! Header | Sub name
        -------------------------------------------------------------------------------- */
        .pagename {
            font-size: 24px;
            letter-spacing: -1px;
            text-transform: uppercase;
            margin-bottom: 9px;
        }
            .pagename a {
                color: #E0E0E0;
                border-style: solid none;
                border-width: 2px;
                border-color: transparent;
                padding: 0;
                margin: 0 12px;
            }
            .pagename a:hover {
                color: #E0E0E0;
                border-style: solid none;
                border-width: 2px;
                border-color: #E0E0E0;
                text-decoration: none;
            }


/* Sticky */

.promoted {
    float:right;
    background-color: #333333;
    padding:5px; border: 1px solid #000000;
    color:#fff; font-size:14px; font-weight:bold;
}
.stickied .title .may-blank:before {
    content: "Important: ";
    color: #ff2222;
    border: 0px;
    background-color:transparent;
    width:auto;
    margin:0px;
}
.stickied {
border:1px solid #000;
border-radius: 5px;
}
.moderator{
color:#3FBF4C !important;
}

/*-------------
FLAIRS

.flair-NSFW,
.flair-NSFL,
.flair-Quality,


-------------*/

.flair, .submission a.title::before {
    display:    inline-block;
    text-align: center;
    background: #DDD;
    border:     2px solid #BBB;
    border-radius: 10px;
    color:      #666;
}

    .light .flair-Quality{
        background:   #71EA84;
        border-color: #4CC65F;
        color:        #2C7437;
    }
    .dark .flair-Quality{
        background:   #3A8745;
        border-color: #215529;
        color:        #EBFFEE;
}
    .light .flair-NSFW{
        background:   #e31837;
        border-color: #d82540;
        color:        #FEEBEB;
    }
    .dark .flair-NSFW{
        background:   #E45E5E;
        border-color: #C84848;
        color:        #F9FBFF;
    }
    .light .flair-NSFL{
        background:   #db3838;
        border-color: #db0303;
        color:        #FEEBEB;
    }
    .dark .flair-NSFL{
        background:   #fd4b4b;
        border-color: #ff1717;
        color:        #F9FBFF;
    }

.flair:empty {
    /* fix for unflaired discussion pages */
    display: none; }




        /* ! Header | Tab menu
        -------------------------------------------------------------------------------- */
        .tabmenu { font-size: 16px; }
            .tabmenu li { text-transform: uppercase; }
                .tabmenu li a {
                    margin: 0 3px;
                    padding: 6px 0;
                }

                .tabmenu li.disabled a {
                    color: #E0E0E0;background: transparent;
                }
                .tabmenu li.disabled{background: none;}
                .tabmenu li.disabled a,
                .tabmenu li.selected a { border: 0; border-radius: 0; }
                .tabmenu li.disabled a:hover {
                    color: #E0E0E0;
                    background: none;
                    border: 0;
                    border-style: solid none;
                    border-width: 2px;
                    border-color: #E0E0E0;
                    box-shadow: none;
                }
                .tabmenu li.disabled a.contribute {
                    background: none;
                    border: 0;
                    color: #D681FF;
                    font-weight: normal;
                }
                .tabmenu li.disabled a.contribute:hover {
                    background: none;
                    color: #D681FF;
                    border-style: solid none;
                    border-width: 2px;
                    border-color: #D681FF;
                }

                .tabmenu li.selected a {
                    background: none;
                    border: 0;
                    box-shadow: none;
                    color: #E0E0E0;
                    font-weight: bold;
                }
                .tabmenu li.selected a:hover {
                    color: #E0E0E0;
                    border-style: solid none;
                    border-width: 2px;
                    border-color: #E0E0E0;
                }
                .tabmenu li.selected a.contribute {
                    background: none;
                    border: 0;
                    color: #D681FF;
                    font-weight: bold;
                }
                .tabmenu li.selected a.contribute:hover {
                    background: none;
                    color: #D681FF;
                    border-style: solid none;
                    border-width: 2px;
                    border-color: #D681FF;
                }

/* EDIT MODERATOR BOX */
.side .helplink + .title h1 { display: none; }
.side .helplink + .title::before { 
    content: 'THE FOURTH REICH';
    display: block;
    font-size: 130%;
    font-weight: bold;
    color:      #967aff;
    text-transform: uppercase;
}


        /* ! Header | Account
        -------------------------------------------------------------------------------- */
        .logged-in {
            color: #D0D0D0;
            background: none;
            border: 0;
            border-radius: 0;
        }
        .logged-out {
            color: #D0D0D0;
            background: none;
            border: 0;
            border-radius: 0;
        }
            #header-account a,
            #header-account .logged-out a { color: #D0D0D0; }
            #header-account a:hover { color: #317FB7; }

            #header-account .separator {
                margin: 0;
                visibility: hidden;
            }

/* ! Container
-------------------------------------------------------------------------------- */
#container {
    background: none;
    border: 0;
    border-radius: 0;
    padding: 0;
}

/* Submit Buttons */

.md h2, .side .btn-whoaverse, btn-default, .side .md > ul, .side .md > ul li:first-child {
    background: #333333;
    text-align: center;
    color: white;
    padding: 5px;
    border-radius: 5px;
    border:0px;
}
.side a.btn-whoaverse { color: #fff;
    font-size:1em; 
    border: 2px solid #333;}
.side .btn-whoaverse:hover {
    background: #666666;
    border: 2px solid #000;
}
.leavemoderator{background-color:transparent;}

        /* ! Sidebar dropdowns
        -------------------------------------------------------------------------------- */

.side .md > ul {
    margin: 0px;
    list-style: none;
    width: 100%;
}
.side .md > ul li {
    display: none;
    padding: 4px;
}
.side .md > ul li ~ li {
    border-top: 1px solid;
}
.side .md > ul li:hover {
    #background: #f7f7f7;
}
.side .md > ul li:first-child {
    display: block;
    font-weight: bold;
    font-size: 16px;
}
.side .md > ul:hover li {
    display: block;
}

        /* ! Downvote message
        -------------------------------------------------------------------------------- */
        .arrow-downvote:after{
           display:block;
           visibility:hidden;
           position:absolute;
           z-index:1000;
           margin-top:-6px;
           margin-left:32px;
           padding:12px;
           background-color:rgba(79,77,192,0.0);
           border:none;
           border-radius:2px;
           color:rgba(255,255,255,0);
           content:"Keep clicking piggy.";
           text-align:center;
           letter-spacing:1px;
           font-weight:400;
           font-size:13px;
           transition:all .25s ease;
           pointer-events:none
        }

        .arrow-downvote:hover:after{
           visibility:visible;
           background-color:rgba(24,24,24,0.9);
           color:#FFF;
           margin-left:48px
        }

        .titlebox {
            margin: 10px -20px 0;
            padding: 0px 20px;
            width: auto !important;
        }
            .titlebox > h1 {
                border-bottom: 1px solid #999;
                font-size: 22px;
                font-weight: normal;
                letter-spacing: -1px;
                margin: 0 0 20px;
                padding: 0 0 10px;
                text-align: center;
                text-transform: uppercase;
            }
                .titlebox h1 a:hover { color: inherit; }

            .titlebox .btn-whoaverse-paging, .titlebox .btn-unsub  {
                background: #333;
                border: 2px solid #333;
                border-radius: 5px;
                display: block;
                color: #EEE;
                font-size: 1em;
                float:left;
                font-weight: bold;
                letter-spacing: 2px;
                margin-bottom: 5px;
                padding: 6px 0;
                text-transform: uppercase;
                width: 46%;
                margin:0px 2% 10px;
            }
            .titlebox .btn-sub{background: #363;border: 2px solid #363;}
            .titlebox .btn-whoaverse-paging:hover, .titlebox .btn-unsub:hover {
                background: #666;
                border: 2px solid #000;
                color: #EEE;
            }
            .titlebox .btn-sub:hover{background: #393;border: 2px solid #030;}

            .titlebox .subscribers, .titlebox .users-online {
                display: block;
                margin-bottom: 10px;
                text-align: center;
            }

            .titlebox .md { padding-bottom: 20px; }
                .titlebox .md a { color: #47B1FC; }
                .titlebox .md a:hover { color: #D681FF; }

                .titlebox .md h1,
                .titlebox .md h2,
                .titlebox .md h3,
                .titlebox .md h4,
                .titlebox .md h5,
                .titlebox .md h6 {
                    border: 0;
                    font-weight: bold;
                    text-align: center;
                }
                .titlebox .md h1 { font-size: 18px; }
                .titlebox .md h2 { font-size: 16px; }
                .titlebox .md h3 { font-size: 15px; }
                .titlebox .md h4,
                .titlebox .md h5,
                .titlebox .md h6 { font-size: 14px; }

            .titlebox .bottom {
                color: inherit;
                border-top: 1px solid #999;
                padding: 10px 0 0;
            }
                .titlebox .bottom a { color: #47B1FC; }
                .titlebox .bottom a:hover { color: #FF8821; }
}


/* ! Mobile
-------------------------------------------------------------------------------- */
@media ( max-width: 870px ) {
    .content { margin-right: 0; }
    .side { width: 300px; }
   
}

@media ( max-width: 700px ) {
    .tabmenu li.disabled a {
        background: none;
        box-shadow: none;
    }
}
