/* "This gives the background with the font for the text of the flair. */

a:after{background: #f8f8f8;border: 1px solid #e6e6e6;border-radius: 2px;color: #000000;line-height: 150%;margin-left: 0.5em;margin-right: 3px;padding: 2px 4px;vertical-align: middle;}

/* Special Flairs */

a[href$="/user/Swoledamort"]:after
{ content: "Too Many Dicks in Ass"; }

a[href$="/user/technician90"]:after
{ content: "Creator of Slimgr"; }

a[href$="/user/the_penis_apprentice"]:after
{ content: "Sucks too much dick"; }

a[href$="/user/The_Penis_Apprentice"]:after
{ content: "Sucks too much dick"; }

a[href$="/user/DatViet"]:after
{ content: "Honorary Aryan"; }

a[href$="/user/Miaiam"]:after
{ content: "Likes Homer's D"; }

a[href$="/user/LardHammer"]:after
{ content: "Destroyer of Ham Planets"; }

a[href$="/user/Duress56"]:after
{ content: "Convicted Child Molester"; }

a[href$="/user/journalistsarelazy"]:after
{ content: "Verified Spiderman"; }

a[href$="/user/she"]:after
{ content: "Verified Scary Jew Witch"; }

a[href$="/user/G4"]:after
{ content: "Verified Faggot"; }

a[href$="/user/moe"]:after
{ content: "Verified Dog Fucker"; }

a[href$="/user/JTtheGhost"]:after
{ content: "Verified Auschwitz Survivor"; }

a[href$="/user/thegoldenboy"]:after
{ content: "Verified Cuckold"; }

/* "Verified Shitlord" flair FOLLOW THE WAY FLAIRS ARE SETUP */

a[href$="/user/shitlordcaligula"]:after,
a[href$="/user/NotMrS"]:after,
a[href$="/user/PM_ME_UR_SOURCE_CODE"]:after,
a[href$="/user/E_Neutrality"]:after,
a[href$="/user/shatomirputin"]:after,
a[href$="/user/notarealperson"]:after,
a[href$="/user/veetack"]:after,
a[href$="/user/Calorie-Kin"]:after,
a[href$="/user/KingdomN"]:after,
a[href$="/user/ImLying"]:after,
a[href$="/user/Ellvarah"]:after,
a[href$="/user/julbe43"]:after,
a[href$="/user/fuoco"]:after,
a[href$="/user/TotalCult"]:after,
a[href$="/user/tom-bombadil"]:after,
a[href$="/user/IamtheDreadLobster"]:after,
a[href$="/user/Phillyshitlord"]:after,
a[href$="/user/nomi_malone"]:after,
a[href$="/user/Pathogenesis25"]:after,
a[href$="/user/Shitty_McShitlord"]:after,
a[href$="/user/BigBoss"]:after,
a[href$="/user/FrozenKlondyke"]:after,
a[href$="/user/Sythek"]:after,
a[href$="/user/vordster"]:after,
a[href$="/user/DoctorKoctor"]:after,
a[href$="/user/RobertPaulson"]:after,
a[href$="/user/wbfla"]:after,
a[href$="/user/Joebro88"]:after,
a[href$="/user/AndrossAngel"]:after,
a[href$="/user/swizzlesticks"]:after,
a[href$="/user/dcs2000"]:after,
a[href$="/user/silvester"]:after,
a[href$="/user/dontqueefonmebro"]:after,
a[href$="/user/door_"]:after,
a[href$="/user/TheEnzo"]:after,
a[href$="/user/wolflink009"]:after,
a[href$="/user/Invisible_Nomad"]:after,
a[href$="/user/Melbourne43"]:after,
a[href$="/user/Adler"]:after,
a[href$="/user/fatness"]:after,
a[href$="/user/cleftscout"]:after,
a[href$="/user/Maisy"]:after,
a[href$="/user/Eysenor"]:after,
a[href$="/user/GreyFox"]:after,
a[href$="/user/floris"]:after,
a[href$="/user/Morgasm"]:after,
a[href$="/user/GrimRipple"]:after,
a[href$="/user/Ruston"]:after,
a[href$="/user/xxlthrowaway"]:after,
a[href$="/user/sketchyadvice77"]:after,
a[href$="/user/Chodder"]:after,
a[href$="/user/diefatfucks"]:after,
a[href$="/user/CutTheCurby"]:after,
a[href$="/user/MyFatHateFlows"]:after,
a[href$="/user/uLookFatInThoseGenes"]:after,
a[href$="/user/Oveneise"]:after,
a[href$="/user/Elysium"]:after,
a[href$="/user/Fatty_McGoo"]:after,
a[href$="/user/zeonin"]:after,
a[href$="/user/HoodedHoodlum"]:after,
a[href$="/user/CheckYourFupa"]:after,
a[href$="/user/Kahlo"]:after,
a[href$="/user/tuxedo"]:after,
a[href$="/user/CyanRyan"]:after,
a[href$="/user/greenymaco"]:after,
a[href$="/user/CttCJim"]:after,
a[href$="/user/Landao"]:after,
a[href$="/user/fryabetes"]:after,
a[href$="/user/crimsonpowder"]:after,
a[href$="/user/tisi"]:after,
a[href$="/user/Era"]:after,
a[href$="/user/4kneecator"]:after,
a[href$="/user/shitlordstrugglez"]:after,
a[href$="/user/bkmnalpha"]:after,
a[href$="/user/larionov"]:after,
a[href$="/user/LoveThighGap"]:after,
a[href$="/user/hotmusician"]:after,
a[href$="/user/ILoveFPH"]:after,
a[href$="/user/Lenvaldier"]:after,
a[href$="/user/herr_scheisse"]:after,
a[href$="/user/FatPeopleHateMe"]:after,
a[href$="/user/Reddifugee"]:after,
a[href$="/user/orange-avocado"]:after,
a[href$="/user/Grimace_Reaper"]:after,
a[href$="/user/todbert"]:after,
a[href$="/user/ppbox"]:after,
a[href$="/user/thorgin"]:after,
a[href$="/user/Wolfthorn"]:after,
a[href$="/user/AlanWake"]:after,
a[href$="/user/QuillQuote"]:after,
a[href$="/user/Fallkniven"]:after,
a[href$="/user/CrackerBInebriated"]:after,
a[href$="/user/underthemotherboard"]:after,
a[href$="/user/redditHasCooties "]:after,
a[href$="/user/MC_BarelyLegible"]:after,
a[href$="/user/Lord_Shitlord"]:after,
a[href$="/user/bieberhole_69"]:after,
a[href$="/user/SetsAndReps"]:after,
a[href$="/user/ConnieDeShuns"]:after,
a[href$="/user/FatPeopleHateAccount"]:after,
a[href$="/user/Daimao"]:after,
a[href$="/user/LJM"]:after,
a[href$="/user/ThinkingClear"]:after,
a[href$="/user/jrlascody"]:after,
a[href$="/user/iloveNoseRings"]:after,
a[href$="/user/firekarat"]:after,
a[href$="/user/PureFix"]:after,
a[href$="/user/diggeler"]:after,
a[href$="/user/yourhero7"]:after,
a[href$="/user/CttCJim"]:after,
a[href$="/user/cassis"]:after,
a[href$="/user/Shimmy"]:after,
a[href$="/user/joelmooner"]:after,
a[href$="/user/talones"]:after,
a[href$="/user/LazarusLong"]:after,
a[href$="/user/ogcook"]:after,
a[href$="/user/Allchiefedup24"]:after,
a[href$="/user/SouthPark"]:after,
a[href$="/user/BWBHAMMER"]:after,
a[href$="/user/archers_bows9"]:after,
a[href$="/user/Infiltrator"]:after,
a[href$="/user/Stinkybeetusfoot"]:after,
a[href$="/user/Anonymous_Coward"]:after,
a[href$="/user/danunit"]:after,
a[href$="/user/imnotyourfriendpal"]:after,
a[href$="/user/Tuna_n_Rice"]:after,
a[href$="/user/rshackleford252525"]:after,
a[href$="/user/CrackingYs"]:after,
a[href$="/user/the_foreigner"]:after,
a[href$="/user/raznog"]:after, /*last spot */
a[href$="/user/pretending_to_work"]:after,
a[href$="/user/alawn0204"]:after,
a[href$="/user/EndDrugAndOtherWars"]:after,
a[href$="/user/bloodygames"]:after,
a[href$="/user/THE_LAST_SHITLORD"]:after,
a[href$="/user/RedditThoughtPolice"]:after,
a[href$="/user/theunrighteous"]:after,
a[href$="/user/Officedrone"]:after,
a[href$="/user/Ajaxofbarbaria"]:after,
a[href$="/user/Yogus"]:after,
a[href$="/user/Honormyfupa"]:after,
a[href$="/user/NoTears4Fatties"]:after,
a[href$="/user/lionheart"]:after,
a[href$="/user/CustardsLastStand"]:after,
a[href$="/user/AlexanderGunther"]:after,
a[href$="/user/War_Wombat"]:after,
a[href$="/user/fsck"]:after,
a[href$="/user/kaO_rosseforP"]:after,
a[href$="/user/prisonersandpriests"]:after,
a[href$="/user/MissChenandlerBong"]:after,
a[href$="/user/Gigan"]:after,
a[href$="/user/ThisWeirdIndividual"]:after,
a[href$="/user/fupaccino"]:after,
a[href$="/user/PeaceLoveAndRamen"]:after,
a[href$="/user/Malek"]:after,
a[href$="/user/Nyte"]:after,
a[href$="/user/RlyRlyGoodlookn"]:after,
a[href$="/user/Just_talk"]:after,
a[href$="/user/4444"]:after,
a[href$="/user/Cartesian_Duelist"]:after,
a[href$="/user/dontdoxxmebro"]:after,
a[href$="/user/Hurt_Fee_Fees"]:after,
a[href$="/user/ShitLord-Vader"]:after,
a[href$="/user/mrwoo2010"]:after,
a[href$="/user/Mugen"]:after,
a[href$="/user/DoctorSpaceman"]:after,
a[href$="/user/Xenophero"]:after,
a[href$="/user/billdred"]:after,
a[href$="/user/Callisti"]:after,
a[href$="/user/Shiny"]:after,
a[href$="/user/Chance"]:after,
a[href$="/user/smokratez"]:after,
a[href$="/user/Blooperman"]:after,
a[href$="/user/BoracicBaronetYr"]:after,
a[href$="/user/ShitlordLovesOreos"]:after,
a[href$="/user/Krewotic"]:after,
a[href$="/user/ChipSlap"]:after,
a[href$="/user/YikYak"]:after,
a[href$="/user/HateCumbuckets"]:after,
a[href$="/user/DrunkenPieRat"]:after,
a[href$="/user/TheShitlordBellossom"]:after,
a[href$="/user/Monsterbox"]:after,
a[href$="/user/Moudi"]:after,
a[href$="/user/Elcycs"]:after,
a[href$="/user/Tuna_n_Rice"]:after,
a[href$="/user/MrCrackALack"]:after,
a[href$="/user/antisugar"]:after,
a[href$="/user/KhanKhalifa"]:after,
a[href$="/user/green_man"]:after,
a[href$="/user/ScreaminMime"]:after,
a[href$="/user/ObeseRedditAdmin"]:after,
a[href$="/user/entitledmoo"]:after,
a[href$="/user/Allergic_to_hams"]:after,
a[href$="/user/shitLordran"]:after,
a[href$="/user/fattyatemysympathy"]:after,
a[href$="/user/TheShitLordCynic"]:after,
a[href$="/user/Verified_Shitlord"]:after,
a[href$="/user/calcaliente"]:after,
a[href$="/user/D1Sun"]:after,
a[href$="/user/bloopton"]:after,
a[href$="/user/Hannabis"]:after,
a[href$="/user/GregorSamsa"]:after,
a[href$="/user/MathunBeag"]:after,
a[href$="/user/Jessee"]:after,
a[href$="/user/RapidLynx"]:after,
a[href$="/user/Calza"]:after,
a[href$="/user/Portable_Tits"]:after,
a[href$="/user/DANKGHIDORAH"]:after,
a[href$="/user/Nujabes"]:after,
a[href$="/user/Mjello"]:after,
a[href$="/user/Honey_Badger"]:after,
a[href$="/user/Qualia"]:after,
a[href$="/user/TXeRunningMan"]:after,
a[href$="/user/Jimmy_Two_Fingers"]:after,
a[href$="/user/SilentMaster"]:after,
a[href$="/user/jonasbrotherfan69"]:after,
a[href$="/user/formerobeast"]:after,
a[href$="/user/FinallyLeftReddit"]:after,
a[href$="/user/FattyHater"]:after,
a[href$="/user/DieMafia"]:after,
a[href$="/user/FreedomToast"]:after,
a[href$="/user/nofatchix"]:after,
a[href$="/user/Theseu5"]:after,
a[href$="/user/DelusionalHominids"]:after,
a[href$="/user/Jeim"]:after,
a[href$="/user/ShitArchon"]:after,
a[href$="/user/speshul_snowflake"]:after,
a[href$="/user/FitSlav"]:after,
a[href$="/user/DecimateTheWeak"]:after,
a[href$="/user/KingMortales"]:after,
a[href$="/user/code_guerilla"]:after,
a[href$="/user/Raylan"]:after,
a[href$="/user/PuddleGut"]:after

{ content: "Verified Shitlord"; }

/* "Verified Shitlady" flair */

a[href$="/user/TattooedWife"]:after,
a[href$="/user/FPHForever"]:after,
a[href$="/user/thisuserhatesyou"]:after,
a[href$="/user/i_am_the_ginger"]:after,
a[href$="/user/GenevieveJenkins"]:after,
a[href$="/user/eat_a_dick_por_favor"]:after,
a[href$="/user/ActualHourglass"]:after,
a[href$="/user/Thinchick"]:after,
a[href$="/user/fatis4punching"]:after,
a[href$="/user/strings"]:after,
a[href$="/user/bethygal83"]:after,
a[href$="/user/aretemis"]:after,
a[href$="/user/redherpbluederp"]:after,
a[href$="/user/Trickster"]:after,
a[href$="/user/32DDbitches"]:after,
a[href$="/user/Entitilitus"]:after,
a[href$="/user/MasterBettyPain"]:after,
a[href$="/user/dotty"]:after,
a[href$="/user/Skinny_McJiggles"]:after,
a[href$="/user/naked_ditchdigger"]:after,
a[href$="/user/SacoDeHuesos"]:after,
a[href$="/user/HonorYourBeetus"]:after,
a[href$="/user/Antimony"]:after,
a[href$="/user/shitladybird"]:after,
a[href$="/user/commandershitlorde"]:after,
a[href$="/user/SassyShitlady"]:after,
a[href$="/user/fearsnight"]:after,
a[href$="/user/redjenny"]:after,
a[href$="/user/Thippe"]:after,
a[href$="/user/Catcat"]:after,
a[href$="/user/longlostbleu"]:after,
a[href$="/user/wolfgirlnaya"]:after,
a[href$="/user/TheSashimiTamale"]:after,
a[href$="/user/VegetarianZombie1"]:after,
a[href$="/user/absmom20"]:after,
a[href$="/user/IAHA"]:after,
a[href$="/user/OgreSounds"]:after,
a[href$="/user/Gidg"]:after,
a[href$="/user/DatVitaminD"]:after,
a[href$="/user/dotty"]:after,
a[href$="/user/nothinggoddammit"]:after,
a[href$="/user/horse__tornado"]:after,
a[href$="/user/SeeYouNextTuesday"]:after,
a[href$="/user/theepilepticferret"]:after,
a[href$="/user/iscrapedmyknee"]:after,
a[href$="/user/ShiteLorde"]:after,
a[href$="/user/masyday"]:after,
a[href$="/user/LeanMeanShitQueen"]:after,
a[href$="/user/FatJavalina"]:after, /* last flair input */
a[href$="/user/nwo-chan"]:after,
a[href$="/user/miss_ann_thrope"]:after,
a[href$="/user/MeeblesMerble"]:after,
a[href$="/user/Randomninja"]:after,
a[href$="/user/Speshul_Sn0wflake"]:after,
a[href$="/user/darkmuffin"]:after,
a[href$="/user/valkyrieevergreen"]:after,
a[href$="/user/Fishgoose"]:after,
a[href$="/user/BuzzingBeaver"]:after,
a[href$="/user/thinbulina"]:after,
a[href$="/user/Dropkickbooties"]:after,
a[href$="/user/wolfgangiv"]:after,
a[href$="/user/pug_life"]:after,
a[href$="/user/GreenKitty"]:after,
a[href$="/user/morbidly_teehees"]:after,
a[href$="/user/maliblue"]:after,
a[href$="/user/ivegotaqueso"]:after,
a[href$="/user/znikole"]:after,
a[href$="/user/Nodra"]:after,
a[href$="/user/CaloricKarma"]:after,
a[href$="/user/CakeTrap"]:after,
a[href$="/user/fatpeopleh8_dotcom"]:after,
a[href$="/user/PrettyPeach"]:after,
a[href$="/user/fabulousalpaca"]:after,
a[href$="/user/HamTaro"]:after,
a[href$="/user/madam_psycho_sexy"]:after,
a[href$="/user/christy"]:after,
a[href$="/user/Ch3ck3rs"]:after,
a[href$="/user/shitmom"]:after,
a[href$="/user/Red_witch"]:after,
a[href$="/user/HarpoonTheWhales"]:after,
a[href$="/user/SkinnyVanillaLatte"]:after,
a[href$="/user/Tensor_Fasciae_Latte"]:after,
a[href$="/user/Fatblaster2000"]:after,
a[href$="/user/bellylugosi"]:after,
a[href$="/user/sharkxie"]:after,
a[href$="/user/pedestrian_x"]:after,
a[href$="/user/ICanWipeMyOwnAss"]:after,
a[href$="/user/Buggsie_Blue"]:after,
a[href$="/user/Size0YogaPants"]:after,
a[href$="/user/DietCokehead1"]:after,
a[href$="/user/Brightness"]:after,
a[href$="/user/Fatkini"]:after,
a[href$="/user/fattieboom"]:after,
a[href$="/user/Laughingllama"]:after,
a[href$="/user/putdownthedonut"]:after,
a[href$="/user/honormyacanthosis"]:after,
a[href$="/user/newbuggy"]:after,
a[href$="/user/PepeThePained"]:after,
a[href$="/user/8-BIT_Ruby"]:after,
a[href$="/user/Rimfakse"]:after,
a[href$="/user/Smartt88"]:after,
a[href$="/user/iheartmypuppy"]:after,
a[href$="/user/TheThinSister"]:after,
a[href$="/user/shortspice"]:after,
a[href$="/user/Babynachollama"]:after,
a[href$="/user/vanitysize00"]:after,
a[href$="/user/fuckredditcensorship"]:after,
a[href$="/user/FoxForce_Five"]:after,
a[href$="/user/WileyECryote"]:after,
a[href$="/user/baddreamstonight"]:after,
a[href$="/user/The_Lady_Galahad"]:after,
a[href$="/user/andsoitgoes"]:after,
a[href$="/user/Missfit"]:after,
a[href$="/user/FPHrefugee"]:after,
a[href$="/user/tinycicada"]:after,
a[href$="/user/WiredBones"]:after,
a[href$="/user/ObeseObituary"]:after,
a[href$="/user/ilieksnow"]:after,
a[href$="/user/theepilepticferret"]:after,
a[href$="/user/Chronicallydieting"]:after,
a[href$="/user/Cyracs"]:after,
a[href$="/user/SSfriendship"]:after,
a[href$="/user/jdkthekid"]:after
{ content: "Verified Shitlady"; }



/* Mod Flairs */



/*

a[href$="/user/notarealperson"]:after {color: #666;content: "notaflair"; }
   
a[href$="/user/The_Penis_Wizard"]:after { background: #DF0101;content: "Literally Hitler"; }
  
a[href$="/user/HamathaMcBeetusButt"]:after { background: #F003F2;content: "Poetically Hitler"; }

a[href$="/user/Space_ninja"]:after { background: #5533EC;content: "Offensively Hitler"; }

a[href$="/user/Space_Ninja"]:after { background: #5533EC;content: "Offensively Hitler"; }

a[href$="/user/homersimpson"]:after { background: #2ad42a;content: "Metaphorically Hitler"; }
 
a[href$="/user/HomerSimpson"]:after { background: #2ad42a;content: "Metaphorically Hitler"; }
 
a[href$="/user/shmuklidooha"]:after { background: #00c5ff;content: "Figuratively Hitler"; }
 
a[href$="/user/SportyStrawberry"]:after { background: #e31860;content: "Actively Hitler"; }

a[href$="/user/sportystrawberry"]:after { background: #e31860;content: "Actively Hitler"; }

a[href$="/user/12_Years_A_Toucan"]:after { background: #e1d812; content: "Hitler's Toucan"; }

a[href$="/user/Archangelle_Achtung"]:after { background: #ff6633; content: "buchstäblich Hitler"; }
 
a[href$="/user/leelem0n"]:after { background: #ebf094; content: "Lifting Hitler"; }
*/

/* This makes it so flairs don't show up at the top of the page.  */


 a[title="Profile"]:after,a.upvoatsGiven:after{content:none;}
