/* TPW */

 .content a[href$="/user/The_Penis_Wizard"]:after {
content: "Literally Hitler";
color: white !important;
padding: 3px !important;
border: 0px !important;
border-radius: 5px !important;
text-shadow: 1px 1px 1px #000, -1px -1px 1px #000;
background: linear-gradient(left,#c10b0b,#c10b0b,#c10b0b,#df0101,#df0101) !important;
background: -webkit-linear-gradient(left,#c10b0b,#c10b0b,#c10b0b,#df0101,#df0101) !important;
background: -moz-linear-gradient(left,#c10b0b,#c10b0b,#c10b0b,#df0101,#df0101) !important;
animation: rainbowbar 1s linear infinite;
-webkit-animation: rainbowbar 1s linear infinite;
}


/* Homer */

.content a[href$="/user/HomerSimpson"]:after {
content: "Metaphorically Hitler";
color: black !important;
border: 0px !important;
padding: 3px !important;
border-radius: 5px !important;
background: linear-gradient(left,#DBA901,#FFBF00,#FACC2E,#F7D358,#FFFF00,#F7FE2E)!important;
background: -webkit-linear-gradient(left,#DBA901,#FFBF00,#FACC2E,#F7D358,#FFFF00,#F7FE2E)!important;
background: -moz-linear-gradient(left,#DBA901,#FFBF00,#FACC2E,#F7D358,#FFFF00,#F7FE2E)!important;
animation: rainbowbar 1s linear infinite;
-webkit-animation: rainbowbar 1s linear infinite;
}

.content a[href$="/user/homersimpson"]:after {
content: "Metaphorically Hitler";
color: black !important;
border: 0px !important;
padding: 3px !important;
border-radius: 5px !important;
background: linear-gradient(left,#DBA901,#FFBF00,#FACC2E,#F7D358,#FFFF00,#F7FE2E)!important;
background: -webkit-linear-gradient(left,#DBA901,#FFBF00,#FACC2E,#F7D358,#FFFF00,#F7FE2E)!important;
background: -moz-linear-gradient(left,#DBA901,#FFBF00,#FACC2E,#F7D358,#FFFF00,#F7FE2E)!important;
animation: rainbowbar 1s linear infinite;
-webkit-animation: rainbowbar 1s linear infinite;
}

/* Berry */

 .content a[href$="/user/SportyStrawberry"]:after{
content: "Actively Hitler";
color: white !important;
border: 0px !important;
padding: 3px !important;
border-radius: 5px !important;
text-shadow: 1px 1px 1px #000, -1px -1px 1px #000;
background: linear-gradient(left,#F6CECE,#F5A9A9,#F78181,#FA5858,#FE2E2E,#FF0000,#DF0101,#B40404,#298A08) !important;
background: -webkit-linear-gradient(left,#F6CECE,#F5A9A9,#F78181,#FA5858,#FE2E2E,#FF0000,#DF0101,#B40404,#298A08) !important;
background: -moz-linear-gradient(left,#F6CECE,#F5A9A9,#F78181,#FA5858,#FE2E2E,#FF0000,#DF0101,#B40404,#298A08) !important;
animation: rainbowbar 1s linear infinite;
-webkit-animation: rainbowbar 1s linear infinite;
}


/* Space NInja */

.content a[href$="/user/Space_ninja"]:after {
content: "Offensively Hitler";
color: yellow !important;
border: 0px !important;
padding: 3px !important;
border-radius: 5px !important;
text-shadow: 1px 1px 1px #000, -1px -1px 1px #000 !important;
background: linear-gradient(left,white,white,black,black,white,white) !important;
background: -webkit-linear-gradient(left,white,white,black,black,white,white) !important;
background: -moz-linear-gradient(left,white,white,black,black,white,white) !important;
animation: rainbowbar 1s linear infinite;
-webkit-animation: rainbowbar 1s linear infinite;
}


/* Shmmuks */

.content a[href$="/user/shmuklidooha"]:after {
content: "Figuratively Hitler";
color: white !important;
padding: 3px !important;
border: 0px !important;
border-radius: 5px !important;
text-shadow: 1px 1px 1px #000, -1px -1px 1px #000;
background: linear-gradient(left,#08088A,#08088A,#08088A,#013ADF,#013ADF) !important;
background: -webkit-linear-gradient(left,#08088A,#08088A,#08088A,#013ADF,#013ADF) !important;
background: -moz-linear-gradient(left,#08088A,#08088A,#08088A,#013ADF,#013ADF) !important;
animation: rainbowbar 1s linear infinite;
-webkit-animation: rainbowbar 1s linear infinite;
}

/* Lee */

.content a[href$="/user/leelem0n"]:after {
content: "Lifting Hitler";
border: 0px !important;
color: white !important;
padding: 3px !important;
border-radius: 5px !important;
text-shadow: 1px 1px 1px #000, -1px -1px 1px #000;
background: linear-gradient(left,#FFFF00,#31B404,#FE9A2E)!important;
background: -webkit-linear-gradient(left,#FFFF00,#31B404,#FE9A2E)!important;
background: -moz-linear-gradient(left,#FFFF00,#31B404,#FE9A2E)!important;
animation: rainbowbar 1s linear infinite;
-webkit-animation: rainbowbar 1s linear infinite;
}

/* Hammy */

.content a[href$="/user/HamathaMcBeetusButt"]:after {
content: "Poetically Hitler";
color: white !important;
border: 0px !important;
padding: 3px !important;
border-radius: 5px !important;
text-shadow: 1px 1px 1px #000, -1px -1px 1px #000;
background: linear-gradient(left,#FE2E64,#FA58AC)!important;
background: -webkit-linear-gradient(left,#FE2E64,#FA58AC)!important;
background: -moz-linear-gradient(left,#FE2E64,#FA58AC)!important;
animation: rainbowbar 1s linear infinite;
-webkit-animation: rainbowbar 1s linear infinite;
}

/* Achtung */

.content a[href$="/user/Achtung_Shitlord"]:after {
content: "buchstäblich Hitler";
color: white !important;
white-space: nowrap !important;
border: 0px !important;
padding: 3px !important;
border-radius: 5px !important;
text-shadow: 1px 1px 1px #000, -1px -1px 1px #000;
background: linear-gradient(left,#fec12e,#58d5fa)!important;
background: -webkit-linear-gradient(left,#fec12e,#58d5fa)!important;
background: -moz-linear-gradient(left,#fec12e,#58d5fa)!important;
animation: rainbowbar 1s linear infinite;
-webkit-animation: rainbowbar 1s linear infinite;
}

/* Toucan */

.content a[href$="/user/12_Years_A_Toucan"]:after {
content: "Hitler's Toucan";
color: white !important;
border: 0px !important;
padding: 3px !important;
white-space: nowrap !important;
border-radius: 5px !important;
text-shadow: 1px 1px 1px #000, -1px -1px 1px #000;
background: linear-gradient(left,red,orange,yellow,orange,red) !important;
background: -webkit-linear-gradient(left,red,orange,yellow,orange,red)!important;
background: -moz-linear-gradient(left,red,orange,yellow,orange,red) !important;
animation: rainbowbar 1s linear infinite;
-webkit-animation: rainbowbar 1s linear infinite;
}

/* Bot Account */

 .content a[href$="/user/Bot Account"]:after {
content: "Mecha Hitler";
color: #0174DF !important;
border: 0px !important;
padding: 3px! important;
border-radius: 5px !important;
text-shadow: 1px 1px 1px #000, -1px -1px 1px #000;
background: linear-gradient(left,#333333,gray) !important;
background: -webkit-linear-gradient(left,#333333,gray)!important;
background: -moz-linear-gradient(left,#333333,gray)!important;
animation: rainbowbar 1s linear infinite;
-webkit-animation: rainbowbar 1s linear infinite;
}


/* Red Pill */

.content a[href$="/user/Test Account"]:after {
content: "Empty Hitler";
border: 0px !important;
color: white !important;
padding: 3px !important;
border-radius: 50px !important;
text-shadow: 1px 1px 1px #000, -1px -1px 1px #000;
background: linear-gradient(left,#DF013A,#DF013A,#DF013A,#F6CECE,#FA5858,#FA5858,#FA5858)!important;
background: -webkit-linear-gradient(left,#DF013A,#DF013A,#DF013A,#F6CECE,#FA5858,#FA5858,#FA5858)!important;
background: -moz-linear-gradient(left,#DF013A,#DF013A,#DF013A,#F6CECE,#FA5858,#FA5858,#FA5858)!important;
animation: rainbowbar 1s linear infinite;
-webkit-animation: rainbowbar 1s linear infinite;
}



/* Purple Template #1 */

.content a[href$="/user/Test Account"]:after {
content: "Empty Hitler";
border: 0px !important;
color: white !important;
padding: 3px !important;
border-radius: 5px !important;
text-shadow: 1px 1px 1px #000, -1px -1px 1px #000;
background: linear-gradient(left,#610B38,#610B38,#8A0868) !important;
background: -webkit-linear-gradient(left,#610B38,#610B38,#8A0868) !important;
background: -moz-linear-gradient(left,#610B38,#610B38,#8A0868) !important;
animation: rainbowbar 1s linear infinite;
-webkit-animation: rainbowbar 1s linear infinite;
}

/* Template Anti-k */

.content a[href$="/user/Test Account"]:after {
content: "Empty Hitler";
border: 0px !important;
color: white !important;
padding: 3px !important;
border-radius: 5px !important;
text-shadow: 1px 1px 1px #000, -1px -1px 1px #000;
background: linear-gradient(left,#00BFFF,#00FFFF,#00FFFF) !important; 
background: -webkit-linear-gradient(left,#00BFFF,#00FFFF,#00FFFF) !important;
background: -moz-linear-gradient(left,#00BFFF,#00FFFF,#00FFFF) !important;
animation: rainbowbar 1s linear infinite;
-webkit-animation: rainbowbar 1s linear infinite;
}

/* Aryan */

.content a[href$="/user/Test Account"]:after {
content: "Empty Hitler";
border: 0px !important;
color: white !important;
padding: 3px !important;
border-radius: 5px;
text-shadow: 1px 1px 1px #000, -1px -1px 1px #000;
background: linear-gradient(left,#FACC2E,#FACC2E,#FACC2E,#0080FF,#FACC2E,#FACC2E,#0080FF,#FACC2E#FACC2E,#FACC2E) !important;
background: -webkit-linear-gradient(left,#FACC2E,#FACC2E,#FACC2E,#0080FF,#FACC2E,#FACC2E,#0080FF,#FACC2E,#FACC2E,#FACC2E) !important;
background: -moz-linear-gradient(left,#FACC2E,#FACC2E,#FACC2E,#0080FF,#FACC2E,#FACC2E,#0080FF,#FACC2E,#FACC2E,#FACC2E) !important;
animation: rainbowbar 1s linear infinite;
-webkit-animation: rainbowbar 1s linear infinite;
}



/* AAD */

.content a[href$="/user/Test Account"]:after {
content: "Empty Hitler";
color: white !important;
border: 0px !important;
padding: 3px !important;
border-radius: 5px !important;
text-shadow: 1px 1px 1px #000, -1px -1px 1px #000 ;
background: linear-gradient(left,#819FF7) !important;
background: -webkit-linear-gradient(left,#819FF7,#5882FA) !important;
background: -moz-linear-gradient(left,#819FF7,#5882FA)!important;
animation: rainbowbar 1s linear infinite;
-webkit-animation: rainbowbar 1s linear infinite;
}

/* Cinn */

.content a[href$="/user/Test Account"]:after {
content: "Empty Hitler";
border: 0px !important;
color: white !important;
padding: 3px !important;
border-radius: 5px !important;
text-shadow: 1px 1px 1px #000, -1px -1px 1px #000;
background: linear-gradient(left,#D8CEF6,#BE81F7) !important;
background: -webkit-linear-gradient(left,#D8CEF6,#BE81F7) !important;
background: -moz-linear-gradient(left,#D8CEF6,#BE81F7) !important;
animation: rainbowbar 1s linear infinite;
-webkit-animation: rainbowbar 1s linear infinite;
}

/* Rainbow */

.content a[href$="/user/Test Account"]:after {
content: "Empty Hitler";
border: 0px !important;
font-size: !important;
font-weight: 900;
background-image: url(http://i.imgur.com/LBofYjc.png) !important;
background-repeat: no-repeat !important;
text-align: center !important;
width: 150px !important;
color: white !important;
padding: 8px !important;
border-radius: 5px !important;
text-shadow: 1px 1px 1px #000, -1px -1px 1px #000;
-webkit-animation:sidescroll 100s linear infinite;
-moz-animation:sidescroll 100s linear infinite;
-ms-animation:sidescroll 100s linear infinite;
animation:sidescroll 100s linear infinite;
}

/* Rainbow animated */

.content a[href$="/user/Test Account"]:after {
content: "Empty Hitler";
border: 0px !important;
font-size: !important;
font-weight: 900 !important;
background-image: url(http://i.imgur.com/RnWEqfN.gif) !important;
background-repeat: no-repeat !important;
text-align: center !important;
width: 150px !important;
color: white !important;
padding: 8px !important;
border-radius: 5px !important;
text-shadow: 1px 1px 1px #000, -1px -1px 1px #000;
-webkit-animation:sidescroll 100s linear infinite;
-moz-animation:sidescroll 100s linear infinite;
-ms-animation:sidescroll 100s linear infinite;
animation:sidescroll 100s linear infinite;
}

/* Purple template #2 */

 .content a[href$="/user/Test Account"]:after {
content: "Empty flair";
color: white!important;
border: 0px !important;
padding: 3px !important;
border-radius: 5px !important;
text-shadow: 1px 1px 1px #000, -1px -1px 1px #000;
background: linear-gradient(left,#4B088A,#FA58D0,#4B088A,#FA58D0,#4B088A,#FA58D0) !important;
background: -webkit-linear-gradient(left,#4B088A,#FA58D0,#4B088A,#FA58D0,#4B088A,#FA58D0) !important;
background: -moz-linear-gradient(left,#4B088A,#FA58D0,#4B088A,#FA58D0,#4B088A,#FA58D0) !important;
animation: rainbowbar 1s linear infinite;
-webkit-animation: rainbowbar 1s linear infinite;
}
